@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
body {
    font-family: 'poppins', sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

:root {
    --purple: purple;
    --header: rgb(168, 6, 218);
}

.holder {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav {
    height: 10vh;
    width: 100vw;
    display: grid;
    position: fixed;
    font-size: 1.5rem;
    color: white;
    place-items: center;
    background-color: var(--header);
}

.body {
    height: 60vh;
    width: 40vw;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 19px;
    box-shadow: -5px 3px 30px #8888;
}

.time {
    height: 6vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    height: 10%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hour {
    width: 8 vw;
    font-size: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--purple);
}

.bout {
    height: 8vh;
    width: 10vw;
    color: white;
    border: 0px;
    font-size: 1.3rem;
    border-radius: 10px;
    box-shadow: -5px 2px 10px rgba(209, 208, 208, 0.533);
    background-color: var(--purple);
}

.set {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 2.4rem;
}

.text {
    width: 40vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
}

.in {
    width: 5vw;
    border-color: var(--purple);
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
}

label {
    font-size: 1.2rem;
}

.ctime {
    width: 10vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}